@media (max-width: 1140px) {
    .direction__inner {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .direction__img {
        width: 100%;
    }

    .direction__text {
        padding: 12px;
    }

    .about__inner {
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
    }

    .gallery-item-inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .gallery__item-img {
        width: 100%;
    }

}

@media (max-width: 990px) {
    .popular__link {
        min-height: 200px;
    }

    .popular__items {
        grid-gap: 10px;
    }

    .tour__info {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 15px;
    }
}

@media (max-width: 800px) {
    .header {
        margin-bottom: 50px;
    }

    .header__phone span {
        display: none;
    }

    .title {
        font-size: 28px;
        line-height: 31px;
    }

    .direction,
    .travel-info,
    .popular,
    .map,
    .about,
    .tour {
        margin-bottom: 50px;
    }

    .travel-info__list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }

    .popular__items {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 50px;
    }

    .popular__link {
        min-height: 300px;
    }

    .popular__link:nth-child(3),
    .popular__link:nth-child(6) {
        grid-column: auto;
        grid-row: auto;
    }

    .popular__link-title {
        font-size: 16px;
        line-height: 20px;
    }

    .map__iframe {
        height: 400px;
    }

    .about__inner {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .about__popup {
        min-height: 400px;
    }

    .gallery {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .tour__title {
        margin-bottom: 40px;
    }

    .tour__box {
        column-count: 1;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    .tour__info {
        grid-template-columns: repeat(2, 1fr);
    }

    .booking {
        padding: 45px 0;
    }

    .booking__input {
        width: 100%;
    }

    .booking__label {
        width: 100%;
        margin-left: 50px;
        margin-top: -192px;
    }

    .footer {
        padding: 50px 0;
    }

    .footer__logo {
        margin-bottom: 40px;
    }

    .footer__box {
        display: block;
        text-align: center;
    }

    .footer__info,
    .footer__address {
        margin: 0 auto 25px;
    }

    .footer__contacts { 
        margin: 0 auto;
    }
}

@media (max-width: 560px) {
    .header__title {
        font-size: 50px;
        line-height: 60px;
    }

    .header__top {
        padding-bottom: 15px;
    }

    .header__phone-number {
        margin-left: 0;
    }

    .menu {
        border: none;
    }

    .menu__btn {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        right: 10px;
        top: 107px;
        cursor: pointer;
        transition: all 0.5s;
    }

    .menu__btn::after,
    .menu__btn::before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: #FFFFFF;
    }

    .menu__btn::before {
        top: 0;
    }

    .menu__btn::after {
        bottom: 0;
    }

    .menu__btn span {
        display: block;
        height: 2px;
        background-color: #FFFFFF;
    }

    .menu__list {
        display: block;
        padding: 10px;
        background-color: #886239;
        transform: translateY(-200%);
        position: absolute;
        left: 0;
        right: 0;
    }

    .menu__link {
        display: block;
        padding: 10px;
        text-align: center;
    }
    
    .menu__list.menu__list--active {
        transform: translateY(0%);
    }

    .menu__item {
        border-bottom: 1px solid #C4C4C4;
    }

    .logo {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .direction__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .travel-info__list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .popular__items {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery__title {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }

    .gallery__top {
        flex-wrap: wrap;
    }

    .gallery-item-inner {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 460px) {
    .title {
        font-size: 22px;
        line-height: 25px;
    }

    .direction__inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .travel-info__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .about__popup {
        min-height: 280px;
    }

    .about__text {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .tour__info {
        grid-template-columns: repeat(1, 1fr);
    }

    .tour__text {
        font-size: 16px;
    }

    .tour__info-text span {
        font-size: 50px;
        line-height: 65px;
    }
}