*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #1F1E1E;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.title {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
}

/* Стили для header */

.header {
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #886239;
  margin-bottom: 100px;
}

.header__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 0 49px;
}

.logo {
  transition: all 0.5s;
}

.logo:hover {
  opacity: 0.6;
}

.header__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.header__phone-number {
  font-weight: 400;
  margin-left: 19px;
  padding: 12px 31px 13px;
  background-color: #886239;
  border-radius: 22px;
}

.menu {
  margin-top: 15px;
  padding: 27px 0 24px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  width: 100%;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: #FFFFFF;
}

.menu__link {
  transition: all 0.5s;
}

.menu__link:hover {
  opacity: 0.6;
}

.menu__link:active {
  text-decoration: underline;
}

.header__title {
  font-family: "PT Serif", "Arial", serif;
  font-weight: bold;
  font-size: 90px;
  line-height: 117px;
  text-align: center;
  margin-bottom: auto;
}

.header__description {
  width: 422px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

.btn {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
  padding: 19px 55px 20px;
  background-color: #886239;
  border-radius: 30px;
  color: #FFFFFF;
  transition: all 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  color: #1F1E1E;
}

.header__btn {
  display: inline-block;
  margin-bottom: 20px;
}

.header__arrow {
  text-align: center;
  margin-bottom: 15px;
}

.header__arrow-link {
  transition: all 0.5s;
}

.header__arrow-link:hover {
  opacity: 0.6;
}

/* Стили для direction */

.direction {
  margin-bottom: 100px;
}

.direction__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 33px;
}

.direction__img {
  display: block;
}

.direction__text {
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #886239;
  border-top: none;
  padding: 12px 19px 19px;
}

/* Стили для travel-info */

.travel-info {
  background-image: url("../images/travel-info-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 30px 0 51px;
  margin-bottom: 100px;
}

.travel-info__title {
  color: #FFFFFF;
  margin-bottom: 50px;
  font-weight: 500;
}

.travel-info__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 54px 67px;
}

.travel-info__item {
  list-style-type: none;
}

.travel-info__img {
  margin-bottom: 15px;
}

.travel-info__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

/* Стили для popular */

.popular {
  margin-bottom: 100px;
}

.popular__title {
  margin-bottom: 40px;
}

.popular__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 32px;
  padding-bottom: 82px;
  border-bottom: 1px solid #886239;
}

.popular__link {
  padding: 16px 24px 19px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 256px;
  line-height: 23px;
  transition: all 0.5s;
}

.popular__link:nth-child(3),
.popular__link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.popular__link:hover {
  opacity: 0.8;
  color: #000000;
}

.popular__link-title {
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.popular__link-title--big {
  font-size: 24px;
  line-height: 31px;
}

.popular__price {
  font-weight: 700;
  margin-top: auto;
}

.popular__country,
.popular__time  {
  margin-bottom: 15px;
}

/* Стили для map */

.map {
  margin-bottom: 100px;
}

.map__title {
  font-weight: 500;
  margin-bottom: 46px;
}

/* Стили для about */

.about {
  margin-bottom: 100px;
}

.about__inner {
  display: grid;
  grid-template-columns: 448px 640px;
  grid-gap: 32px;
}

.about__title {
  text-align: left;
  margin-bottom: 25px;
  font-weight: 500;
}

.about__text {
  margin-bottom: 34px;
}

.about__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  text-decoration: underline;
  transition: all 0.5s;
}

.about__link:hover {
  color: #886239;
}

.about__link:active {
  opacity: 0.6;
}

.about__popup {
  background-image: url("../images/video-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__link {
  transition: all 0.5s;
}

.popup__link:hover {
  opacity: 0.7;
}

/* Стили для gellary */

.gallery {
  padding: 50px 0 105px;
  margin-bottom: 100px;
  background-color: #886239;
  color: #FFFFFF;
}

.gallery__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  padding-right: 160px;
}

.gallery__title {
  font-weight: 500;
}

.gallery__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  transition: all 0.5s;
}

.gallery__link:hover {
  opacity: 0.6;
}

.gallery__link:active {
  color: #C4C4C4;
}

.gallery-item-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

.slick-btn {
  position: absolute;
  top: -85px;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slick-btn:hover {
  opacity: 0.8;
}

.slick-btn:active {
  opacity: 1;
}

.slick-prev {
  right: 60px;
}

/* Стили для tour */

.tour {
  margin-bottom: 100px;
}

.tour__title {
  text-transform: uppercase;
  margin-bottom: 77px;
}

.tour__box {
  column-count: 2;
  column-gap: 47px;
  padding-bottom: 50px;
  margin-bottom: 44px;
  border-bottom: 1px solid #886239;
}

.tour__text {
  margin-bottom: 15px;
}

.tour__text span {
  font-weight: 700;
}

.tour__info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 70px;
  list-style-type: none;
}

.tour__info-item {
  text-align: center;
}

.tour__info-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #1F1E1E;
}

.tour__info-text span {
  display: block;
  font-family: "PT Serif", "Arial", serif;
  font-weight: bold;
  font-size: 58px;
  line-height: 75px;
  color: #886239;
}

/* Стили для booking */

.booking {
  padding: 75px 0;
  background-color: #EAEAEA;
}

.booking__title {
  margin-bottom: 43px;
}

.booking__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 830px;
  margin: 0 auto;
}

.booking__input {
  width: 256px;
  height: 44px;
  border: 1px solid #886239;
  background-color: #FFFFFF;
  padding: 11px 14px 12px;
  margin-bottom: 28px;
}

.booking__input::placeholder,
.booking__area::placeholder {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #C4C4C4;
}

.booking__area {
  width: 100%;
  margin-bottom: 67px;
  padding: 14px;
  height: 112px;
  border: 1px solid #886239;
  resize: none;
}

.booking__btn {
  border: none;
  cursor: pointer;
}

.booking__label {
  font-size: 16px;
  line-height: 21px;
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.booking__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 4px;
}

.booking__checkbox-style {
  position: absolute;
  width: 26px;
  height: 26px;
  border: 2px solid #C4C4C4;
  border-radius: 2px;
  margin-left: -45px;
}

.booking__checkbox:checked + .booking__checkbox-style::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #886239;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Стили для footer */

.footer {
  padding: 77px 0 81px;
  background-color: #1F1E1E;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
}

.footer__logo {
  text-align: center;
  margin-bottom: 70px;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  max-width: 830px;
  margin: 0 auto;
}

.footer__info {
  width: 255px;
}
.footer__box-title {
  margin-bottom: 7px;
  font-weight: 500;
}
.footer__copy {
  margin-bottom: 3px;
  opacity: 0.8;
}
.footer__link {
  text-decoration: underline;
  opacity: 0.8;
}
.footer__address {
  width: 165px;
}
.footer__address-text {
  opacity: 0.8;
}
.footer__contacts {
  width: 210px;
}
.footer__phone {
  opacity: 0.8;
}
.footer__email {
  opacity: 0.8;
  display: block;
}
